<div class="row">
  <%= render 'shared/sidebar' %>
  
  <div class="span9">
    <%= form_for current_user, :url => account_profile_path, :html => {:class => "user-form form-horizontal"} do |f| %>
      <fieldset>
        <legend>Edit Profile</legend>
      
        <%= render 'shared/error_messages', :target => current_user %>
      
        <div class="control-group">
          <%= f.label :name, :class => "control-label"%>
          <div class="controls"><%= f.text_field :name %></div>
        </div>

        <div class="control-group">
          <%= f.label :email, :class => "control-label"%>
          <div class="controls"><%= f.text_field :email %></div>
        </div>
      
        <div class="control-group">
          <%= label_tag :photo, 'Photo', :class => "control-label"%>
          <div class="controls"><%= link_to 'Change here', "http://www.gravatar.com/", :target => "_blank" %></div>
        </div>
      
        <div class="control-group">
          <%= f.label :location, :class => "control-label"%>
          <div class="controls"><%= f.text_field :location %></div>
        </div>
      
        <div class="control-group">
          <%= f.label :website, :class => "control-label"%>
          <div class="controls"><%= f.text_field :website %></div>
        </div>
      
        <div class="control-group">
          <%= f.label :about, 'About me', :class => "control-label"%>
          <div class="controls"><%= f.text_area :about, :class => "span5" %></div>
        </div>

        <div class="form-actions">
          <%= submit_tag "Update Profile", :class => "btn btn-primary", :disable_with => "Updating..." %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You can view your public profile <%= link_to 'here', user_path(current_user), :target => "_blank" %>.
        </div>
      </fieldset>
    <% end %>
    
    <%= form_for current_user, :url => password_reset_user_path(current_user), :html => {:class => "form-horizontal"} do %>
      <fieldset>
        <legend>Change Password</legend>

        <div class="control-group">
          <%= label_tag :old_password, nil, :class => "control-label" %>
          <div class="controls"><%= password_field_tag :old_password %></div>
        </div>
      
        <div class="control-group">
          <%= label_tag :password, nil, :class => "control-label" %>
          <div class="controls"><%= password_field_tag :password %></div>
        </div>
      
        <div class="control-group">
          <%= label_tag :password_confirmation, nil, :class => "control-label" %>
          <div class="controls"><%= password_field_tag :password_confirmation %></div>
        </div>

        <div class="form-actions">
          <%= submit_tag "Reset Password", :class => "btn btn-primary", :disable_with => "Reseting..." %>
        </div>
      </fieldset>
    <% end %>
    
  </div>
</div>