<div class="row">
  <%= render 'shared/sidebar' %>
  
  <div class="span9">
    
    <%= link_to "+ Create A Theme", new_account_theme_path, :class => "btn btn-primary pull-right create-a-theme" %>
    
    <% if params[:page].blank? %>
      <div class="page-header">
        <h2>Current Theme</h2>
      </div>
      <% if current_forum.theme.present? %>
        <ul class="thumbnails">
          <%= render current_forum.theme %>
          <li>
            <%= link_to 'Uninstall Current Theme', uninstall_account_themes_path, :method => :post, :class => "btn" %>
          </li>
        </ul>
      <% else %>
        <p>You are currently using the default theme.  You can select a new one below.</p>
      <% end %>
    
    
      <% if current_user.themes.present? %>
        <div class="page-header">
          <h2>Your Themes</h2>
        </div>
        <ul class="thumbnails">
          <%= render current_user.themes %>
        </ul>
      <% end %>
    <% end %>
    
    <div class="page-header">
      <h2>All Themes</h2>
    </div>
    <ul class="thumbnails">
      <%= render @themes %>
    </ul>
    <%= paginate @themes %>
    
  </div>
</div>