<%= form_for @post, :html => {:class => "post-form form-stacked"} do |f| %>
  <h2><%= current_forum.new_post_label %></h2><br/>
  
  <%= render 'shared/error_messages', :target => @post %>
  
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "span8" %>
  </p>
  
  <p>
    <% if current_forum.post_options == Forum::POST_OPTIONS[:text_or_url] %>
      <%= link_to 'Text', '#', :class => 'text-link active' %> or <%= link_to 'URL', '#', :class => 'url-link' %><br/>
      <%= f.text_field :url, :placeholder => 'http://', :class => "span8", :style => "display: none;" %>
      <%= f.text_area :text, :class => "span8" %>
    <% elsif current_forum.post_options == Forum::POST_OPTIONS[:url_or_text] %>
      <%= link_to 'URL', '#', :class => 'url-link active' %> or <%= link_to 'Text', '#', :class => 'text-link' %><br/>
      <%= f.text_field :url, :placeholder => 'http://', :class => "span8" %>
      <%= f.text_area :text, :class => "span8", :style => "display: none;" %>
    <% elsif current_forum.post_options == Forum::POST_OPTIONS[:url_only] %>
      <%= f.label :url, 'URL' %>
      <%= f.text_field :url, :placeholder => 'http://', :class => "span8" %>
    <% elsif current_forum.post_options == Forum::POST_OPTIONS[:text_only] %>
      <%= f.label :text %>
      <%= f.text_area :text, :class => "span8" %>
    <% end %>
  </p>
  
  <% if current_forum.tags.present? %>
    <p>
      <%= f.label :tag_ids, 'Tags' %>
      <% current_forum.tags.each do |tag| %>
        <span>
          <% on = @post.tags.include?(tag) %>
          <%= check_box_tag "post[tag_ids][]", tag.id, on, :class => "tag-checkbox" %>
          <%= link_to tag.name, '#', :class => "tag #{'active' if on} tag-link" %>
        </span>
      <% end %>
    </p>
  <% end %>
  
  <div class="form-actions">
    <% if @post.new_record? %>
      <%= submit_tag "Submit", :class => "btn btn-primary", :disable_with => "Submitting..." %> &nbsp; <%= link_to "Cancel", :back, :class => "btn" %>
    <% else %>
      <%= submit_tag "Save Changes", :class => "btn btn-primary", :disable_with => "Saving..." %> &nbsp; <%= link_to "Cancel", :back, :class => "btn" %>
    <% end %>
  </div>
<% end %>