<div class="row">
  <div class="span9">
    
    <%= link_to current_forum.new_post_label, new_post_path, :class => "btn btn-primary pull-right" %>
    <%= form_tag posts_path, :method => :get, :class => 'form-inline' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :class => "btn", :disable_with => "Search" %>
      <% if params[:search].present? %>
        &nbsp;<%= link_to 'clear', root_path %>
      <% end %>
    <% end %>
    
    <% if @posts.empty? and current_forum.posts.empty? %>
      <div class="alert-message block-message success">
        <p><strong>Welcome! This is a brand new forum</strong></p>
        <p>To get started try adding the first <%= current_forum.post_label.downcase %>.</p>
        <div class="alert-actions">
          <%= link_to current_forum.new_post_label, new_post_path, :class => "btn" %>
        </div>
      </div>
    <% elsif @posts.empty? %>
      <div class="alert-message block-message info no-results">
        <p><strong>Your search didn't return an results!</strong></p>
        <p>Please try a new search or <%= link_to 'go back', root_path %>.</p>
      </div>
    <% else %>
      
    <% if params[:search].present? %>
      <table class="table table-striped">
        <%= render @posts.results %>
      </table>
    <% else %>
      <ul class="nav nav-tabs">
        <li class="<%= 'active' if params[:sort].blank? %>"><%= link_to 'Popular', posts_path(request.query_parameters.merge(:sort => nil)) %></li>
        <li class="<%= 'active' if params[:sort] == 'top' %>"><%= link_to 'Top', posts_path(request.query_parameters.merge(:sort => 'top')) %></li>
        <li class="<%= 'active' if params[:sort] == 'latest' %>"><%= link_to 'Latest', posts_path(request.query_parameters.merge(:sort => 'latest')) %></li>
      </ul>
      <table class="table table-striped">
        <%= render @posts %>
      </table>
    <% end %>
      
      <%= paginate @posts %>
    <% end %>
  </div>
  <div class="span3" style="padding-top: 68px;">
    <%= render 'shared/tags' %>
    <br/><br/>
    <%= render 'shared/ads' %>
  </div>
</div>