<div class="post" id="<%= dom_id(@post) %>">
  <% if @post.url.present? %>
    <h2><%= link_to @post.title, @post.url, :rel => 'nofollow'%></h2>
  <% else %>
    <h2><%= @post.title %></h2>
  <% end %>
  
  <%= render :partial => 'shared/byline', :locals => {:comment_or_post => @post, :voting => true, :show_tags => true} %>
  <%= @post.html.html_safe if @post.html.present? %>
  <p>
    <% if can? :edit, @post %>
      <%= link_to 'edit', edit_post_path(@post) %>
    <% end %>
    <% if can? :destroy, @post %>
      <%= link_to 'delete', post_path(@post), :method => :delete, :confirm => "Are you really sure you want to delete this post?  This will delete any comments as well." %>
    <% end %>
  </p>
</div>

<hr/>

<div class="pull-right">
  <%= render 'shared/ads' %>
</div>

<%= render "comments/form" %>

<%= render @comments %>

<div id="reply_comment" style="display: none;">
  <%= render :partial => "comments/form", :locals => {:reply_comment => true} %>
</div>


<%= paginate @comments %>