<div class="row">
  <%= render 'shared/sidebar' %>
  
  <div class="span9">
    <%= form_for @tag, :url => account_tags_path, :remote => true, :html => {:class => 'form-horizontal'} do |f| %>
      <p>Tags can be used to categorize <%= current_forum.posts_label.downcase %> in your forum.</p>

      <%= render 'shared/error_messages', :target => @tag %>

      <%= f.text_field :name, :class => "span3" %> <%= f.submit 'Create Tag', :class => "btn btn-primary", :disable_with => "Creating..." %>
    <% end %>
    
    <table id='tags' class="table tags borderless" data-update-url="<%= sort_account_tags_url %>">
      <thead>
        <tr>
          <th></th>
          <th>Tag</th>
          <th><%= current_forum.post_label %> Count</th>
        </tr>
      </thead>
      <tbody>
        <%= render @tags %>
      </tbody>
    </table>
  </div>
</div>